<div class="row">
    <div class="col-xs-offset-1 col-xs-11">
        <div class="row">
            <div class="col-xs-3 col-lg-2">
                <img class="img-responsive" src="../../img/illustrations/illus--postman.svg"/>
            </div>
            <div class="col-xs-9 col-lg-10">
                <p>Familiar with Postman? <br><a href="../../files/Asset Manager API Beta in PIM v3.2.postman_collection.json" download>Download</a> the collection of these endpoints and get started easily!</p>
            </div>
        </div>
    </div>
</div>
{{#each categories as |category categoryId|}}
    {{#each category.resources as |resource resourceId|}}
        <a class="anchor" id="{{{resourceId}}}"></a>
        <h3 class="picto">
            <img src="../../img/illustrations/illus--{{{resourceId}}}.svg"/>
            {{{resourceName}}}
        </h3>
        <div class="list-group">
            {{#each resource.operations as |operation operationId|}}
                <a class="list-group-item" href="/{{../../../htmlReferencefileName}}.html#{{{operationId}}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="list-group-item-heading">{{{summary}}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="list-group-item-text">
                                <span class="label label-verb label-{{{verb}}}">{{{verb}}}</span>
                                <span class="text-api-url">{{{path}}}</span>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p class="list-group-item-text pull-right">
                                <em class="small">In PIM versions:</em>
                                {{#each x-versions as |version versionId|}}
                                    <span class="label label-version">{{{version}}}</span>
                                {{/each}}
                                {{#if x-beta}}
                                    <span class="label label-beta">BETA</span>
                                {{/if}}
                                {{#if x-ee}}
                                    <span class="label label-ee">EE only</span>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    {{/each}}
{{/each}}
