{{#> layout title="AEP API reference" active_api_resources=true }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="rest">{{{info.title}}}</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p><em>{{{info.description}}}</em></p>
            </div>
        </div>
        <div class="row rest">
            <div id="navbar" class="col-sm-3 hidden-xs">
                <nav role="tablist" data-spy="affix" data-offset-top="80">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav rest"><img class="pull-left" style="margin-right: 5px; height: 27px;" src="/img/icons/icon--rest.svg"> AEP API endpoints</p>
                        {{#each categories}}
                            <li class="main-nav">
                                <a href="#{{@key}}">{{@key}}</a>
                                <ul class="nav">
                                    {{#each this.operations as |operation operationId|}}
                                        <li class="sub-nav">
                                            <a href="#{{{operationId}}}"><i class="fa fa-square fa-{{{verb}}}"></i> {{{summary}}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9">
                {{#each categories}}
                    <a class="anchor" id="{{@key}}"></a>
                    <h1>{{@key}}</h1>
                        {{#each this.operations }}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a class="anchor" id="{{{operationId}}}"></a>
                                            <h3>{{{summary}}}</h3>
                                            <p>{{{description}}}</p>
                                            <hr>
                                            <h4>REQUEST</h4>
                                            <p>
                                                <span class="label label-verb label-{{{verb}}}">{{{verb}}}</span>
                                                <span class="text-api-url">{{{path}}}</span>
                                            </p>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h5>Path parameters</h5>
                                                    {{#each groupedParameters.path}}
                                                        <p>
                                                            <code>{{{name}}}</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required parameter"><i class="fa fa-asterisk fa-danger"></i></a><em> ({{{type}}})</em>
                                                            <small>&bull; {{{description}}}</small>
                                                        </p>
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/each}}
                                                </div>
                                                <div class="col-md-7">
                                                    <h5>Query parameters</h5>
                                                    {{#each groupedParameters.query}}
                                                        <p>
                                                            <code>{{{name}}}</code>
                                                            <em>({{{type}}} </em>
                                                            {{~#if default}} ,
                                                                <strong>{{{default}}}</strong>
                                                                <em> by default </em>
                                                            {{~/if~}})
                                                            {{#if minimum}}
                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="Value between {{minimum}} and {{maximum}}"><i class="fa fa-check fa-success"></i></a>
                                                            {{/if}}
                                                            {{#if x-validation-rules}}
                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-validation-rules}}}{{#each enum}} `{{this}}`{{#unless @last}},{{/unless}}{{/each}}">
                                                                    <i class="fa fa-check fa-success"></i></a>
                                                            {{/if}}
                                                            <small>&bull; {{{description}}}</small>
                                                        </p>
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5>Headers</h5>
                                                    {{#unless x-no-token}}
                                                        <p>
                                                            <code>Authorization</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                            {{#if x-app-token}}
                                                                <small>&bull; Equal to 'Bearer xxx', 'xxx' being the App authentication token, see <a href="/tutorials/how-to-get-your-app-token.html" target="_blank">documentation for getting an app token</a></small>
                                                            {{else}}
                                                                <small>&bull; Equal to 'Bearer xxx', `xxx` being the authentication token, see <a href="/documentation/authentication.html">Authentication</a> section</small>
                                                            {{/if}}
                                                        </p>
                                                    {{/unless}}
                                                    {{#each groupedParameters.header}}
                                                        <p>
                                                            <code>{{{name}}}</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                            <small>&bull; {{{description}}}</small>
                                                        </p>
                                                    {{/each}}
                                                    <p>
                                                        <code>Content-type</code>
                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"><i class="fa fa-asterisk fa-danger"></i></a>
                                                        <small>&bull; Equal to 'application/json', no other value allowed</small>
                                                    </p>
                                                    <p><code>Accept</code> <small>&bull; Equal to 'application/json', no other value allowed</small></p>

                                                    <h5>Body</h5>
                                                    {{#if jsonBody}}
                                                        <pre class="hljs"><code>{{{jsonBody}}}</code></pre>
                                                        <h6>Example</h6>
                                                        {{#if jsonExample}}
                                                        <pre class="hljs"><code>{{{jsonExample}}}</code></pre>
                                                        {{else}}
                                                            <p>Ø</p>
                                                        {{/if}}
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <hr>
                                            <h4>RESPONSES</h4>
                                            <ul class="nav nav-tabs nav-tabs-responses">
                                                {{#each responses}}
                                                    <li role="presentation" {{#if @first}}class="active"{{/if}}>
                                                        <a href="#{{{id}}}" data-toggle="tab">
                                                            <i class="fa {{#if error}}fa-times-circle fa-danger{{/if}}
                                                                {{#if success}}fa-check-circle fa-success{{/if}}">
                                                            </i>
                                                            {{{@key}}}
                                                        </a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="row tab-content">
                                                        {{#each responses}}
                                                            <div role="tabpanel" class="col-xs-12 tab-pane {{#if @first}}active{{/if}}" id="{{id}}">
                                                                <p><strong>{{{description}}}</strong></p>
                                                                {{#if headers}}
                                                                    <h5>Headers</h5>
                                                                    {{#each headers}}
                                                                        <p><code>{{{@key}}}</code> &bull; {{{description}}}</p>
                                                                    {{/each}}
                                                                {{/if}}
                                                                <h5>Body <small>Format <span class="label label-default">application/json</span></small></h5>
                                                                {{#if jsonBody}}
                                                                    <pre class="hljs"><code>{{{jsonBody}}}</code></pre>
                                                                    <h6>Example</h6>
                                                                    {{#if jsonExample}}
                                                                        <pre class="hljs"><code>{{{jsonExample}}}</code></pre>
                                                                    {{else}}
                                                                        <p>Ø</p>
                                                                    {{/if}}
                                                                {{else}}
                                                                    <p>Ø</p>
                                                                {{/if}}
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                {{/each }}
            </div>
        </div>
        {{> back-to-top-button}}
    </div>
{{/layout}}