{{#> layout title="AEP API reference" active_api_resources=true }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="rest">AEP API reference</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p><em>Complete reference on how to handle Akeneo Event Platform SUbsrcibers and Subsriptions</em></p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Your PIM version: <strong>{{{pimVersion}}}</strong>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-title">Choose your PIM version</li>
                        <li><a href="/api-reference-17.html">1.7</a></li>
                        <li><a href="/api-reference-20.html">2.0</a></li>
                        <li><a href="/api-reference-21.html">2.1</a></li>
                        <li><a href="/api-reference-22.html">2.2</a></li>
                        <li><a href="/api-reference-23.html">2.3</a></li>
                        <li><a href="/api-reference-30.html">3.0</a></li>
                        <li><a href="/api-reference-31.html">3.1</a></li>
                        <li><a href="/api-reference-32.html">3.2</a></li>
                        <li><a href="/api-reference-40.html">4.0</a></li>
                        <li><a href="/api-reference-50.html">5.0</a></li>
                        <li><a href="/api-reference-60.html">6.0</a></li>
                        <li><a href="/api-reference-70.html">7.0</a></li>
                        <li><a href="/api-reference.html">SaaS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row rest">
            <div id="navbar" class="col-sm-3 hidden-xs">
                <nav role="tablist" data-spy="affix" data-offset-top="80">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav rest"><img class="pull-left" style="margin-right: 5px; height: 27px;" src="/img/icons/icon--rest.svg"> AEP API endpoints</p>
                        {{#each categories as |category categoryId|}}
                            <li class="main-nav">
                                <a href="#{{{categoryId}}}">{{{categoryName}}}{{#if categoryDeprecated}}<em> - Deprecated</em>{{/if}}{{#if isPublishedProduct}}<em> - Deprecated</em>{{/if}}</a>
                                <ul class="nav">
                                    {{#each resources as |resource resourceId|}}
                                        <li class="sub-nav">
                                            <a href="#{{{resourceId}}}">{{{resourceName}}}{{#if ../isPublishedProduct}}<em> - Deprecated</em>{{/if}}</a>
                                            <ul class="nav">
                                                {{#each resource.operations as |operation operationId|}}
                                                    <li class="sub-nav">
                                                    <a href="#{{{operationId}}}"><i class="fa fa-square fa-{{{verb}}}"></i> {{{summary}}}
                                                        {{#if x-ee}}
                                                            &nbsp;<span class="label label-ee">EE</span>
                                                        {{/if}}
                                                    </a></li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
        {{> back-to-top-button}}
    </div>
{{/layout}}
