{{#*inline "properties"}}
    {{#each properties}}
        <li class="def-key">
            <code>{{@key}}</code>
            {{! display the type of the propertie}}
            {{#ifEquals this.type "array"}}
                 <em>({{{type}}}[{{{this.items.type}}}])</em>
            {{else}}
                <em>({{{type}}})</em>
            {{/ifEquals}}
            {{! display the description of the propertie}}
            {{#if this.description}}
                &bull; {{{description}}}
            {{/if}}
            {{! the current line  defines an object with properties}}
            {{#if this.properties}}
            : { <ul>{{> properties properties=this.properties }}</ul> }
            {{/if}}
            {{! the current line defines an array with items}}
            {{#if this.items}}
                {{#ifEquals this.items.type "object"}}:
                [
                    <ul>
                        <li>{</li>
                        <li>
                            {{#each this.items}} <ul>{{> properties properties=this }}</ul>{{/each}}
                        </li>
                        <li>}</li>
                    </ul>
                ]
                {{/ifEquals}}
            {{/if}}
        </li>
    {{/each}}
{{/inline}}

<div class="row">
    <div class="col-xs-12">
        <div class="def">
            <p class="def-key">{</p>
            <ul>{{> properties }}</ul>
            <p class="def-key">}</p>
        </div>
    </div>
</div>
