{{#*inline "properties"}}
{{#each properties}}
<li class="def-key">

    <code>{{@key}}</code>

    {{#if this.items}}
         <em>({{{type}}}[{{{this.items.type}}}])</em>
    {{else}}
        <em>({{{type}}})</em>
    {{/if}}

    {{#if this.description}}
        &bull; {{{description}}}
    {{/if}}

    {{#if this.properties}}
    : { <ul>{{> properties properties=this.properties }}</ul> }
    {{/if}}

    {{#if this.items}}
        {{#ifEquals this.items.type "object"}}
            : [
                {
                    {{#each this.items}}
                         <ul>{{> properties properties=this }}</ul>
                    {{/each}}
                }
            ]
        {{/ifEquals}}



    {{/if}}


</li>
{{/each}}
{{/inline}}

<div class="row">
    <div class="col-xs-12">
        <div class="def">
            <p class="def-key">{</p>
            <ul>{{> properties }}</ul>
            <p class="def-key">}</p>
        </div>
    </div>
</div>
