{{#> layout title="Complete API Reference" active="api-reference"}}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>API reference cheat sheet</h1>
                <em>All our available endpoints. Just for you.</em>
                {{#each resources as |resource resourceId|}}
                    <a class="anchor" id="{{{resourceId}}}"></a>
                    <h3 class="picto">
                        <svg viewBox="0 0 256 256">
                            <use xlink:href="/img/icons.svg#icon--{{{resourceId}}}"></use>
                        </svg> {{{resourceName}}}</h3>
                    <div class="list-group">
                        {{#each resource.operations as |operation operationId|}}
                            <a class="list-group-item" href="api-reference.html#{{{operationId}}}">
                                <p class="list-group-item-heading">{{{summary}}}</p>
                                <p class="list-group-item-text">
                                    <span class="label label-verb label-{{{verb}}}">{{{verb}}}</span>
                                    <span class="text-api-url">{{{path}}}</span>
                                </p>
                            </a>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/layout}}
