{{#> layout title="API reference" active_api_reference=true }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>API reference cheat sheet</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p><em>All our available endpoints. Just for you.</em></p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Your PIM version: <strong>{{{pimVersion}}}</strong>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-title">Choose your PIM version</li>
                        <li><a href="/api-reference-index-17.html">1.7</a></li>
                        <li><a href="/api-reference-index-20.html">2.0</a></li>
                        <li><a href="/api-reference-index.html">2.1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="navbar" class="col-sm-3 hidden-xs">
                <nav role="tablist" data-spy="affix" data-offset-top="80">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav">Browse all our endpoints</p>
                        {{#each resources as |resource resourceId|}}
                            <li class="main-nav">
                                <a href="#{{{resourceId}}}">{{{resourceName}}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-9">
                {{#each resources as |resource resourceId|}}
                    <a class="anchor" id="{{{resourceId}}}"></a>
                    <h3 class="picto">
                        <img src="img/illustrations/illus--{{{resourceId}}}.svg"/>
                        {{{resourceName}}}
                    </h3>
                    <div class="list-group">
                        {{#each resource.operations as |operation operationId|}}
                            <a class="list-group-item" href="{{../../htmlReferencefileName}}.html#{{{operationId}}}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="list-group-item-heading">{{{summary}}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <p class="list-group-item-text">
                                            <span class="label label-verb label-{{{verb}}}">{{{verb}}}</span>
                                            <span class="text-api-url">{{{path}}}</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <p class="list-group-item-text pull-right">
                                            <em class="small">PIM versions:</em>
                                            {{#each x-versions as |version versionId|}}
                                                <span class="label label-version">{{{version}}}</span>
                                            {{/each}}
                                            {{#if x-ee}}
                                                <span class="label label-ee">EE only</span>
                                            {{/if}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/layout}}
