{{#> layout title="API reference" active_api_reference=true }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>API reference</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p><em>Complete reference on how to handle Akeneo PIM resources</em></p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Your PIM version: <strong>{{{pimVersion}}}</strong>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-title">Choose your PIM version</li>
                        <li><a href="/api-reference-17.html">1.7</a></li>
                        <li><a href="/api-reference-20.html">2.0</a></li>
                        <li><a href="/api-reference-21.html">2.1</a></li>
                        <li><a href="/api-reference-22.html">2.2</a></li>
                        <li><a href="/api-reference-23.html">2.3</a></li>
                        <li><a href="/api-reference-30.html">3.0</a></li>
                        <li><a href="/api-reference-31.html">3.1</a></li>
                        <li><a href="/api-reference.html">3.2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="navbar" class="col-sm-3 hidden-xs">
                <nav role="tablist" data-spy="affix" data-offset-top="80">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav">Browse all our endpoints</p>
                        {{#each categories as |category categoryId|}}
                            <li class="main-nav">
                                <a href="#{{{categoryId}}}">{{{categoryName}}}{{#if categoryDeprecated}}<em> - Deprecated</em>{{/if}}</a>
                                <ul class="nav">
                                    {{#each resources as |resource resourceId|}}
                                        <li class="sub-nav">
                                            <a href="#{{{resourceId}}}">{{{resourceName}}}</a>
                                            <ul class="nav">
                                                {{#each resource.operations as |operation operationId|}}
                                                    <li class="sub-nav">
                                                    <a href="#{{{operationId}}}"><i class="fa fa-square fa-{{{verb}}}"></i> {{{summary}}}
                                                        {{#if x-ee}}
                                                            &nbsp;<span class="label label-ee">EE</span>
                                                        {{/if}}
                                                    </a></li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9">
                {{#each categories as |category categoryId|}}
                    <a class="anchor" id="{{{categoryId}}}"></a>
                    <h1>{{{categoryName}}}{{#if categoryDeprecated}}<em> - Deprecated</em>{{/if}}</h1>
                    {{#if categoryDeprecated}}
                        <div class="alert alert-warning">
                            <p>With the introduction of our brand new way to handle assets, the Asset Manager, the PAM feature will be removed from the v4.0 of the PIM. As a result, from now on, <b>all the endpoints regarding the PAM assets are deprecated</b>. They will not be available anymore starting from the v4.0.<br/>To understand why, we recommend you to read this <a href="https://medium.com/akeneo-labs/between-stability-and-innovation-c2d2dd61a804">Medium post</a>, we wrote on this special occasion.<br/>Also, don't hesitate to take a look at the <a href="/documentation/asset-manager.html">Asset Manager documentation</a> to discover this new feature and how much more efficient it will be to handle your precious assets.</p>
                        </div>
                    {{/if}}
                    {{#each resources as |resource resourceId|}}
                        <a class="anchor" id="{{{resourceId}}}"></a>
                        <h2 class="picto">{{{resourceName}}}{{#if ../categoryDeprecated}}<em> - Deprecated</em>{{/if}}
                            <img src="img/illustrations/illus--{{{resourceId}}}.svg"/>
                        </h2>
                        <div id="{{{resource}}}-detail"></div>
                        {{#each resource.operations as |operation operationId|}}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a class="anchor" id="{{{operationId}}}"></a>
                                            <h3>
                                                {{{summary}}}
                                                {{#if x-ee}}
                                                    &nbsp;<span class="label label-ee">EE only</span>
                                                {{/if}}
                                                {{#if x-deprecated}}
                                                    <span class="label label-warning">deprecated</span>
                                                {{/if}}
                                            </h3>
                                            <p>{{{description}}}</p>
                                            <p>
                                                <em class="small text-info">Available in PIM versions:</em>
                                                {{#each x-versions as |version versionId|}}
                                                    <span class="label label-version">{{{version}}}</span>
                                                {{/each}}
                                            </p>
                                            <hr>
                                            <h4>REQUEST</h4>
                                            <p>
                                                <span class="label label-verb label-{{{verb}}}">{{{verb}}}</span>
                                                <span class="text-api-url">{{{path}}}</span>
                                            </p>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h5>Path parameters</h5>
                                                    {{#each groupedParameters.path}}
                                                        <p>
                                                            <code>{{{name}}}</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required parameter"><i class="fa fa-asterisk fa-danger"></i></a><em> ({{{type}}})</em>
                                                            <small>&bull; {{{description}}}</small>
                                                        </p>
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/each}}
                                                </div>
                                                <div class="col-md-7">
                                                    <h5>Query parameters</h5>
                                                    {{#each groupedParameters.query}}
                                                        <p>
                                                            <code>{{{name}}}</code>
                                                            <em>({{{type}}} </em>
                                                            {{~#if default}} ,
                                                                <strong>{{{default}}}</strong>
                                                                <em> by default </em>
                                                            {{~/if~}})
                                                            {{#if minimum}}
                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="Value between {{minimum}} and {{maximum}}"><i class="fa fa-check fa-success"></i></a>
                                                            {{/if}}
                                                            {{#if x-validation-rules}}
                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-validation-rules}}}{{#each enum}} `{{this}}`{{#unless @last}},{{/unless}}{{/each}}">
                                                                <i class="fa fa-check fa-success"></i></a>
                                                            {{/if}}
                                                            <small>&bull; {{{description}}}</small>
                                                        </p>
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5>Headers</h5>
                                                    {{#unless x-no-token}}
                                                        <p>
                                                            <code>Authorization</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                            <small>&bull; Equal to 'Bearer xxx', `xxx` being the authentication token, see <a href="/documentation/security.html#authentication-2">Authentication</a> section</small>
                                                        </p>
                                                    {{/unless}}
                                                    {{#if x-body-by-line}}
                                                        <p>
                                                            <code>Content-type</code>
                                                            <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                            <small>&bull; Equal to 'application/vnd.akeneo.collection+json', no other value allowed</small>
                                                        </p>
                                                    {{else}}
                                                        {{#each groupedParameters.header}}
                                                            <p>
                                                                <code>{{{name}}}</code>
                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                                <small>&bull; {{{description}}}</small>
                                                            </p>
                                                        {{/each}}
                                                        {{#each groupedParameters.body}}
                                                            {{#unless x-form-data}}
                                                                <p>
                                                                    <code>Content-type</code>
                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"><i class="fa fa-asterisk fa-danger"></i></a>
                                                                    <small>&bull; Equal to 'application/json', no other value allowed</small>
                                                                </p>
                                                            {{/unless}}
                                                            {{else}}
                                                            {{#unless x-content-type}}
                                                                <p><code>Accept</code> <small>&bull; Equal to 'application/json', no other value allowed</small></p>
                                                            {{/unless}}
                                                        {{/each}}
                                                    {{/if}}
                                                    <h5>Body</h5>
                                                    {{#if x-body-by-line}}
                                                        <p>{{x-body-by-line}}</p>
                                                    {{/if}}
                                                    {{#each groupedParameters.body}}
                                                        <div class="row">
                                                            {{#if x-form-data}}
                                                                <div class="col-xs-12">
                                                                    <p>Given as form-data</p>
                                                                    {{#each schema.properties}}
                                                                        <p>
                                                                            <code>{{@key}}</code>
                                                                            {{#if required}}
                                                                                <a href="#" data-placement="top" data-toggle="tooltip" title="Required property"><i class="fa fa-asterisk fa-danger"></i></a>
                                                                            {{/if}}
                                                                            <em>({{{type}}} {{#if format}} / {{{format}}}{{/if}})</em>
                                                                            <small>&bull; {{description}}</small>
                                                                        </p>
                                                                   {{/each}}
                                                                </div>
                                                            {{else}}
                                                                <div class="col-xs-12">
                                                                    {{#unless ../x-body-by-line}}
                                                                        <p>Follow the standard format of the entity</p>
                                                                    {{/unless}}
                                                                    <div class="def">
                                                                        {{#with schema.items}}
                                                                            <p class="def-key">{</p>
                                                                            <p class="def-key">&nbsp; &nbsp;[</p>
                                                                            {{#each properties}}
                                                                                <p class="def-key">
                                                                                    &nbsp; &nbsp; &nbsp; &nbsp;<code>{{{@key}}}</code>
                                                                                    <em>
                                                                                        ({{{type}}}
                                                                                        {{#with items}}[{{{type}}}]{{/with}}
                                                                                        {{#each properties}}
                                                                                            {{#if @first}}&#123;{{/if}}
                                                                                            {{{@key}}} : {{{type}}}
                                                                                            {{#each properties}}
                                                                                                {{#if @first}}&#123;{{/if}}
                                                                                                {{{@key}}} : {{{type}}}
                                                                                                {{#with items}}[{{{type}}}]{{/with}}
                                                                                                {{#if @last}} &#125;{{else}} , {{/if}}
                                                                                            {{/each}}
                                                                                            {{#with items}}
                                                                                            [
                                                                                                {{{type}}}
                                                                                                {{#each properties}}
                                                                                                    {{#if @first}}&#123;{{/if}}
                                                                                                    {{{@key}}} : {{{type}}}
                                                                                                    {{#with items}}[{{{type}}}]{{/with}}
                                                                                                    {{#if @last}} &#125;{{else}}, {{/if}}
                                                                                                {{/each}}
                                                                                            <br>]
                                                                                            {{/with}}
                                                                                            {{#if @last}}&#125;{{else}} , {{/if}}
                                                                                        {{/each}}
                                                                                    </em>
                                                                                    {{~#if default}},
                                                                                        <strong>{{{default}}}</strong>
                                                                                        <em>by default</em>
                                                                                    {{~/if~}})
                                                                                    {{#if required}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="Required property"><i class="fa fa-asterisk fa-danger"></i></a>
                                                                                    {{/if}}
                                                                                    {{#if patchRequired}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="Required property only in creation mode"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                                                    {{/if}}
                                                                                    {{#if x-read-only}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="Read only property, not present in creation mode"> <i class="fa fa-eye fa-akeneo"></i> </a>
                                                                                    {{/if}}
                                                                                    {{#if x-immutable}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="Immutable property"> <i class="fa fa-lock fa-akeneo"></i> </a>
                                                                                    {{/if}}
                                                                                    {{#if x-validation-rules}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-validation-rules}}}{{#each enum}} `{{this}}`{{#unless @last}},{{/unless}}{{/each}}">
                                                                                            <i class="fa fa-check fa-success"></i>
                                                                                        </a>
                                                                                    {{/if}}
                                                                                    {{#if x-warning}}
                                                                                        <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-warning}}}"> <i class="fa fa-warning fa-warning-color"></i> </a>
                                                                                    {{/if}}
                                                                                    {{#with items}}
                                                                                        {{#if properties}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                            {{#each properties}}
                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                <code>{{{@key}}}</code>
                                                                                                <em>
                                                                                                    ({{{type}}}
                                                                                                    {{#if items}}
                                                                                                        [{{{items.type}}}
                                                                                                    ]{{/if}})
                                                                                                </em>
                                                                                                &bull; {{{description}}} <br>
                                                                                            {{/each}}
                                                                                            &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ]
                                                                                        {{else}}
                                                                                            &bull; {{{../description}}}
                                                                                        {{/if}}
                                                                                    {{else}}
                                                                                        &bull; {{{description}}}
                                                                                    {{/with}}
                                                                                </p>
                                                                            {{/each}}
                                                                            <p class="def-key">&nbsp; &nbsp;]</p>
                                                                            <p class="def-key">}</p>
                                                                        {{else}}
                                                                            <p class="def-key">{</p>
                                                                        {{/with}}
                                                                        {{#each schema.properties}}
                                                                            <p class="def-key">
                                                                                <code>{{{@key}}}</code>
                                                                                <em>
                                                                                    ({{{type}}}
                                                                                    {{#with items}}[{{{type}}}]{{/with}}
                                                                                    {{#each properties}}
                                                                                        {{#if @first}}&#123;{{/if}}
                                                                                        {{{@key}}} : {{{type}}}
                                                                                        {{#each properties}}
                                                                                            {{#if @first}}&#123;{{/if}}
                                                                                            {{{@key}}} : {{{type}}}
                                                                                            {{#with items}}[{{{type}}}]{{/with}}
                                                                                            {{#if @last}} &#125;{{else}} , {{/if}}
                                                                                        {{/each}}
                                                                                        {{#with items}}
                                                                                        [
                                                                                            {{{type}}}
                                                                                            {{#each properties}}
                                                                                                {{#if @first}}&#123;{{/if}}
                                                                                                {{{@key}}} : {{{type}}}
                                                                                                {{#with items}}[{{{type}}}]{{/with}}
                                                                                                {{#if @last}} &#125;{{else}}, {{/if}}
                                                                                            {{/each}}
                                                                                        ]
                                                                                        {{/with}}
                                                                                        {{#if @last}}&#125;{{else}} , {{/if}}
                                                                                    {{/each}}
                                                                                </em>
                                                                                {{~#if default}},
                                                                                    <strong>{{{default}}}</strong>
                                                                                    <em>by default</em>
                                                                                {{~/if~}})
                                                                                {{#if required}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="Required property"><i class="fa fa-asterisk fa-danger"></i></a>
                                                                                {{/if}}
                                                                                {{#if patchRequired}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="Required property only in creation mode"> <i class="fa fa-asterisk fa-danger"></i> </a>
                                                                                {{/if}}
                                                                                {{#if x-read-only}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="Read only property, not present in creation mode"> <i class="fa fa-eye fa-akeneo"></i> </a>
                                                                                {{/if}}
                                                                                {{#if x-immutable}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="Immutable property"> <i class="fa fa-lock fa-akeneo"></i> </a>
                                                                                {{/if}}
                                                                                {{#if x-validation-rules}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-validation-rules}}}{{#each enum}} `{{this}}`{{#unless @last}},{{/unless}}{{/each}}">
                                                                                        <i class="fa fa-check fa-success"></i>
                                                                                    </a>
                                                                                {{/if}}
                                                                                {{#if x-warning}}
                                                                                    <a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-warning}}}"> <i class="fa fa-warning fa-warning-color"></i> </a>
                                                                                {{/if}}
                                                                                {{#with items}}
                                                                                    {{#if properties}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                        {{#each properties}}
                                                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                            <code>{{{@key}}}</code>
                                                                                            <em>
                                                                                                ({{{type}}}
                                                                                                {{#if items}}
                                                                                                    [{{{items.type}}}
                                                                                                ]{{/if}})
                                                                                            </em>
                                                                                            &bull; {{{description}}} <br>
                                                                                        {{/each}}
                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ]
                                                                                    {{else}}
                                                                                        &bull; {{{../description}}}
                                                                                    {{/if}}
                                                                                {{else}}
                                                                                    &bull; {{{description}}}
                                                                                {{/with}}
                                                                            </p>
                                                                        {{/each}}
                                                                        {{#unless schema.items}}
                                                                            <p class="def-key">}</p>
                                                                        {{/unless}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <p>Example</p>
                                                                    {{{schema.hljsExample}}}
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                    {{else}}
                                                        <p>Ø</p>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <hr>
                                            <h4>RESPONSES</h4>
                                            <ul class="nav nav-tabs nav-tabs-responses">
                                                {{#each responses}}
                                                    <li role="presentation" {{#if @first}}class="active"{{/if}}>
                                                        <a href="#{{{id}}}" data-toggle="tab">
                                                            <i class="fa {{#if error}}fa-times-circle fa-danger{{/if}}
                                                                {{#if success}}fa-check-circle fa-success{{/if}}">
                                                            </i>
                                                            {{{@key}}}
                                                        </a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="row tab-content">
                                                        {{#each responses}}
                                                            <div role="tabpanel" class="col-xs-12 tab-pane {{#if @first}}active{{/if}}" id="{{id}}">
                                                                <p><strong>{{{description}}}</strong></p>
                                                                <p>{{{x-details}}}</p>
                                                                {{#if headers}}
                                                                    <h5>Headers</h5>
                                                                    {{#each headers}}
                                                                        <p><code>{{{@key}}}</code> &bull; {{{description}}}</p>
                                                                    {{/each}}
                                                                {{/if}}
                                                            <h5>Body
                                                                {{#if x-content-type}}
                                                                    <small>Format <span class="label label-default">{{x-content-type}}</span></small>
                                                                {{else}}
                                                                    <small>Format <span class="label label-default">application/json</span></small>
                                                                {{/if}}
                                                            </h5>
                                                            {{#if success}}
                                                                {{#if schema}}
                                                                    {{#unless x-no-entity}}
                                                                        <p>Follow the standard format of the entity</p>
                                                                    {{/unless}}
                                                                {{/if}}
                                                            {{/if}}
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    {{#with schema}}
                                                                        <div class="def">
                                                                            {{#unless items}}
                                                                            <p>{{{name}}} {</p>
                                                                            {{/unless}}
                                                                            {{#with items}}
                                                                                {{#if properties}}
                                                                                    <p class="def-key">[
                                                                                    <br>&nbsp; &nbsp; { <br>
                                                                                    {{#each properties}}
                                                                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                        <code>{{{@key}}}</code>
                                                                                        <em>
                                                                                            ({{{type}}}
                                                                                            {{#if items}}
                                                                                                [{{{items.type}}}]
                                                                                            {{/if}})
                                                                                        </em>
                                                                                        &bull; {{{description}}} <br>
                                                                                    {{/each}}
                                                                                    &nbsp; &nbsp; } <br> ]</p>
                                                                                {{/if}}
                                                                            {{/with}}
                                                                            {{#each properties}}
                                                                                <p class="def-key"><code>{{{@key}}}</code>
                                                                                <em> ({{{type}}} {{#if items}} [{{{items.type}}}] {{/if}}) </em>
                                                                                {{#if properties}}: { <br>
                                                                                    {{#each properties}}
                                                                                        &nbsp; &nbsp; 
                                                                                        <code>{{{@key}}}</code>
                                                                                        <em>
                                                                                            ({{{type}}}
                                                                                            {{#if items}}
                                                                                                [{{{items.type}}}]
                                                                                            {{/if}})
                                                                                        </em>
                                                                                        {{#if properties}}
                                                                                            : { <br>
                                                                                            {{#each properties}}
                                                                                                &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                <code>{{{@key}}}</code>
                                                                                                <em>
                                                                                                    ({{{type}}}
                                                                                                    {{#if items}}
                                                                                                      [{{{items.type}}}]
                                                                                                    {{/if}})
                                                                                                </em>
                                                                                                &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                              {{/each}}
                                                                                            <br>&nbsp; &nbsp; }
                                                                                        {{else}}
                                                                                            {{#with items}}
                                                                                                {{#if allOf}}
                                                                                                    : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                        {{#each allOf}}
                                                                                                            {{#each properties}}
                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                <code>{{{@key}}}</code>
                                                                                                                <em>({{{type}}})</em>
                                                                                                                {{#if properties}}
                                                                                                                    : { <br>
                                                                                                                        {{#each properties}}
                                                                                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                            <code>{{{@key}}}</code>
                                                                                                                            <em>({{{type}}})</em>
                                                                                                                            {{#if properties}}
                                                                                                                                : { <br>
                                                                                                                                {{#each properties}}
                                                                                                                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                                    <code>{{{@key}}}</code>
                                                                                                                                    <em>({{{type}}})</em>
                                                                                                                                    &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                                {{/each}}
                                                                                                                                <br>&nbsp;
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
                                                                                                                            {{else}}
                                                                                                                                &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                            {{/if}}
                                                                                                                        {{/each}}
                                                                                                                        <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                    } <br>
                                                                                                                {{else}}
                                                                                                                    &bull; {{{description}}} <br>
                                                                                                                {{/if}}
                                                                                                            {{/each}}
                                                                                                        {{/each}}
                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ]
                                                                                                {{/if}}
                                                                                                {{#if properties}} : [
                                                                                                    <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                    {{#each properties}}
                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                        <code>{{{@key}}}</code>
                                                                                                        <em>
                                                                                                            ({{{type}}}
                                                                                                            {{#if items}}
                                                                                                                [{{{items.type}}}
                                                                                                            ]{{/if}})
                                                                                                        </em>
                                                                                                        &bull; {{{description}}} <br>
                                                                                                    {{/each}}
                                                                                                    &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ]
                                                                                                {{else}}
                                                                                                    &bull; {{{description}}}
                                                                                                {{/if}}
                                                                                            {{else}}
                                                                                                &bull; {{{description}}}
                                                                                            {{/with}}
                                                                                        {{/if}}
                                                                                    {{/each}}
                                                                                    <br> &nbsp; }
                                                                                {{else}}
                                                                                    {{#with items}}
                                                                                        {{#if properties}}
                                                                                                : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                        {{#each properties}}
                                                                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                            <code>{{{@key}}}</code>
                                                                                                            <em>({{{type}}})</em>
                                                                                                            {{#if properties}}
                                                                                                                : { <br>
                                                                                                                    {{#each properties}}
                                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                        <code>{{{@key}}}</code>
                                                                                                                        <em>({{{type}}})</em>
                                                                                                                    {{/each}}
                                                                                                                    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                } <br>
                                                                                                            {{else}}
                                                                                                                &bull; {{{description}}} <br>
                                                                                                            {{/if}}
                                                                                                        {{/each}}
                                                                                                    &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ]
                                                                                        {{else}}
                                                                                            &bull; {{{../description}}}
                                                                                        {{/if}}
                                                                                    {{else}}
                                                                                        &bull; {{{description}}}
                                                                                    {{/with}}
                                                                                {{/if}}
                                                                            {{/each}}
                                                                            {{#each allOf}}
                                                                                    {{#each properties}}
                                                                                    <p class="def-key">
                                                                                        <code>{{{@key}}}</code>
                                                                                        <em>({{{type}}}{{#if items}} [{{{items.type}}}]{{/if}})</em>
                                                                                        {{#if properties}}: { <br>
                                                                                            {{#each properties}}
                                                                                                &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}} )</em>
                                                                                                {{#if properties}}: { <br>
                                                                                                    {{#each properties}}
                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}} )</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                    {{/each}}
                                                                                                    <br>&nbsp; &nbsp;  }
                                                                                                {{else}}
                                                                                                    {{#with items}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                            {{#each properties}}
                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}})</em>
                                                                                                                {{#if properties}} : { <br>
                                                                                                                    {{#each properties}}
                                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}})</em>
                                                                                                                        {{#if properties}} : { <br>
                                                                                                                            {{#each properties}}
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                                <code>{{{@key}}}</code>
                                                                                                                                <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}} )</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                            {{/each}}
                                                                                                                            <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } {{#unless @last}} <br> {{/unless}}
                                                                                                                        {{else}}
                                                                                                                            {{#with items}}
                                                                                                                                {{#if properties}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                                                    {{#each properties}}
                                                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code>
                                                                                                                                        <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}} )</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                                    {{/each}}
                                                                                                                                    <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ]
                                                                                                                                {{else}}
                                                                                                                                    &bull; {{{description}}}
                                                                                                                                {{/if}}
                                                                                                                            {{else}}
                                                                                                                                &bull; {{{description}}}
                                                                                                                            {{/with}}
                                                                                                                        {{/if}}
                                                                                                                    {{/each}}
                                                                                                                    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                                                                                {{else}}
                                                                                                                    &bull; {{{description}}}<br>
                                                                                                                {{/if}}
                                                                                                            {{/each}}
                                                                                                        {{#each allOf}}
                                                                                                            {{#each properties}}
                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}})</em>
                                                                                                                {{#if properties}} : { <br>
                                                                                                                    {{#each properties}}
                                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}})</em>
                                                                                                                        {{#if properties}} : { <br>
                                                                                                                            {{#each properties}}
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                                                                <code>{{{@key}}}</code>
                                                                                                                                <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}} )</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                            {{/each}}
                                                                                                                            <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } {{#unless @last}} <br> {{/unless}}
                                                                                                                        {{else}}
                                                                                                                            {{#with items}}
                                                                                                                                {{#if properties}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                                                                                    {{#each properties}}
                                                                                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code>
                                                                                                                                        <em>({{{type}}}{{#if items}} [{{{items.type}}} ]{{/if}} )</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                                                                                    {{/each}}
                                                                                                                                    <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ]
                                                                                                                                {{else}}
                                                                                                                                    &bull; {{{description}}}
                                                                                                                                {{/if}}
                                                                                                                            {{else}}
                                                                                                                                &bull; {{{description}}}
                                                                                                                            {{/with}}
                                                                                                                        {{/if}}
                                                                                                                    {{/each}}
                                                                                                                    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                                                                                {{else}}
                                                                                                                    &bull; {{{description}}}<br>
                                                                                                                {{/if}}
                                                                                                            {{/each}}
                                                                                                        {{/each}}
                                                                                                    {{else}}
                                                                                                        &bull; {{{description}}}
                                                                                                    {{/with}}
                                                                                                    {{#with items}} &nbsp; &nbsp; &nbsp; &nbsp; } <br> &nbsp; &nbsp; ] {{/with}}
                                                                                                {{/if}}
                                                                                                {{#unless @last}} <br> {{/unless}}
                                                                                            {{/each}}<br>&nbsp;  }
                                                                                        {{else}}
                                                                                            &bull; {{{description}}}
                                                                                        {{/if}}
                                                                                    {{/each}}
                                                                            {{/each}}
                                                                            {{#unless items}}
                                                                            <p>}</p>
                                                                            {{/unless}}
                                                                        </div>
                                                                        {{else}}
                                                                            {{#if x-content-type}}
                                                                                Media file binary
                                                                            {{else}}
                                                                                <p>Ø</p>
                                                                            {{/if}}
                                                                        {{/with}}
                                                                    </div>
                                                                    {{#if hljsExample}}
                                                                        <div class="col-xs-12">
                                                                            <p>Example</p>
                                                                            <div>{{{hljsExample}}}</div>
                                                                        </div>
                                                                    {{/if}}
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{> contrib-footer}}
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                {{/each}}
            </div>
        </div>
        {{> back-to-top-button}}
    </div>
{{/layout}}
