<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Complete API Reference</title>
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <script src='js/jquery.min.js' type='text/javascript'></script>
  <script src='js/bootstrap.min.js' type='text/javascript'></script>
  <link rel="stylesheet" href="css/variables.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="img/akene36.png">
  <script type="text/javascript"> 
    $(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body data-spy="scroll" data-target="#navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Akeneo" src="img/akene.png" width="50"></a>
        <p class="navbar-text">Akeneo Web API</p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Getting started <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/getting-started.html">Make my first request</a></li>
                <li><a href="/getting-started-admin.html">Manage the access to the API</a></li>
              </ul>
            </li>
          <li><a href="/documentation.html">Documentation</a></li>
          <li class="active"><a href="/api-reference-index.html">API reference</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="navbar" class="col-sm-3 hidden-xs">
        <nav role="tablist" data-spy="affix" data-offset-top="80">
          <ul class="nav nav-stacked">
          	{{#each ressources as |operations ressource|}}
            	<li class="main-nav"><a href="#{{{ressource}}}">{{{ressource}}}</a>
	          		<ul class="nav">
								{{#each operations as |operation operationId|}}
		            	<li class="sub-nav"><a href="#{{{operationId}}}"><i class="fa fa-square fa-{{{verb}}}"></i> {{{summary}}}</a></li>
		            {{/each}}
		            </ul>
	            </li>
	          {{/each}}
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h1>API reference</h1>
        <em>Complete reference on how to handle Akeneo PIM resources</em>
        {{#each ressources as |operations ressource|}} 
        	<a class="anchor" id="{{{ressource}}}"></a>
        	<h2 class="picto">{{{ressource}}}
        		<svg viewBox="0 0 100 100">
					  	<use xlink:href="img/icons.svg#icon_{{{ressource}}}"></use>
						</svg>
					</h2>
          <div id="{{{ressource}}}-detail"></div>
        	{{#each operations as |operation operationId|}}
		        <div class="panel panel-default">
		          <div class="panel-body">
		            <div class="row">
		              <div class="col-xs-12">
        						<a class="anchor" id="{{{operationId}}}"></a>
		              	<h3>{{{summary}}}</h3>
		              	<p>{{{description}}}</p>
		                <h4>REQUEST</h4>
		                <p><span class="label label-verb label-{{{verb}}}">{{{verb}}}</span><span class="text-api-url">{{{path}}}</span></p>
		                <div class="row">
		                  <div class="col-md-6"> 
		                    <h5>Path parameters</h5>
		                    {{#each groupedParameters.path}}
		                    	<p><code>{{{name}}}</code> <a href="#" data-placement="top" data-toggle="tooltip" title="Required parameters"><i class="fa fa-asterisk fa-danger"></i></a><em> ({{{type}}})</em> &bull; {{{description}}}</p>
		                    {{else}}
		                    	<p>Ø</p>
		                    {{/each}}
		                  </div>
		                  <div class="col-md-6">
		                    <h5>Query parameters</h5>
		                    {{#each groupedParameters.query}}
		                    	<p>
                            <code>{{{name}}}</code>
                            <em> ({{{type}}}
                            {{~#if default}}, </em><strong>{{{default}}}</strong><em> by default{{~/if~}}
                            )</em>
                            {{#if minimum}}<a href="#" data-placement="top" data-toggle="tooltip" title="Value between {{minimum}} and {{maximum}}"><i class="fa fa-check fa-success"></i></a>{{/if}}
                            &bull; {{{description}}}
                          </p>
		                    {{else}}
		                  		<p>Ø</p>
		                  	{{/each}}
		                  </div>
		                </div>
		                <div class="row">
		                  <div class="col-xs-12">
		                    <h5>Headers</h5>
                        {{#each groupedParameters.body}}
			                    <p><code>Content-type</code> <a href="#" data-placement="top" data-toggle="tooltip" title="Required header"><i class="fa fa-asterisk fa-danger"></i></a> &bull; Equal to 'application/json', no other value allowed</p>
		                    {{else}}
			                   	<p><code>Accept</code> &bull; Equal to 'application/json', no other value allowed</p>
			                  {{/each}}
		                    <h5>Body</h5>
		                    {{#each groupedParameters.body}}
		                    	<div class="row">
		                    		<div class="col-md-8">
                              <p>Follow the standard format of the entity</p>
		                  				<div class="def">
                                <p>{{{schema.name}}} {</p>
			                  				{{#each schema.properties}}
			                  					<p class="def-key">
                                    <code>{{{@key}}}</code>
                                    <em>({{{type}}}{{#with items}}[{{{type}}}]{{/with}}{{#each properties}}{{#if @first}}&#123;{{/if}}{{{@key}}}: {{{type}}}{{#each properties}}{{#if @first}}&#123;{{/if}}{{{@key}}}: {{{type}}}{{#with items}}[{{{type}}}]{{/with}}{{#if @last}}&#125;{{else}}, {{/if}}{{/each}}{{#with items}}[{{{type}}}{{#each properties}}{{#if @first}}&#123;{{/if}}{{{@key}}}: {{{type}}}{{#with items}}[{{{type}}}]{{/with}}{{#if @last}}&#125;{{else}}, {{/if}}{{/each}}]{{/with}}{{#if @last}}&#125;{{else}}, {{/if}}{{/each}}
                                    {{~#if default}}, </em><strong>{{{default}}}</strong><em> by default{{~/if~}})</em>
                                    {{#if required}}<a href="#" data-placement="top" data-toggle="tooltip" title="Required property"><i class="fa fa-asterisk fa-danger"></i></a>{{/if}}
                                    {{#if patchRequired}}<a href="#" data-placement="top" data-toggle="tooltip" title="Required property only in creation mode"><i class="fa fa-asterisk fa-danger"></i></a>{{/if}}
                                    {{#if x-read-only}}<a href="#" data-placement="top" data-toggle="tooltip" title="Read only property, not present in creation mode"><i class="fa fa-eye fa-akeneo"></i></a>{{/if}}
                                    {{#if x-immutable}}<a href="#" data-placement="top" data-toggle="tooltip" title="Immutable property"><i class="fa fa-lock fa-akeneo"></i></a>{{/if}}
                                    {{#if x-validation-rules}}<a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-validation-rules}}}{{#each enum}} `{{this}}`{{#unless @last}},{{/unless}}{{/each}}"><i class="fa fa-check fa-success"></i></a>{{/if}}
                                    {{#if x-warning}}<a href="#" data-placement="top" data-toggle="tooltip" title="{{{x-warning}}}"><i class="fa fa-warning fa-warning-color"></i></a>{{/if}}
                                    &bull; {{{description}}}
                                  </p>
			                    			{{/each}}
			                    			<p>}</p>
		                    			</div>
														</div>
		                    		<div class="col-md-4">
		                    			<p>Example</p>
		                  				{{{schema.hljsExample}}}
														</div>
		                			</div>
		                  	{{else}}
		                  		<p>Ø</p>
		                  	{{/each}}
		                  </div>
		                </div>
		                <hr>
		                <h4>RESPONSES</h4>
		                <ul class="nav nav-tabs nav-tabs-responses">
		                	{{#each responses}}
		                  <li role="presentation" {{#if @first}}class="active"{{/if}}>
		                  	<a href="#{{{id}}}" data-toggle="tab"><i class="fa {{#if error}}fa-times-circle fa-danger{{/if}}{{#if success}}fa-check-circle fa-success{{/if}}"></i> {{{@key}}}</a>
		                  </li>
		                  {{/each}}
		                </ul>
		                <div class="panel panel-default">
		                  <div class="panel-body">
		                    <div class="row tab-content">
		                			{{#each responses}}
		                      <div role="tabpanel" class="col-xs-12 tab-pane {{#if @first}}active{{/if}}" id="{{id}}">
                            <p><strong>{{{description}}}</strong></p>
		                      	<p>{{{x-details}}}</p>
		                      	{{#if headers}}
		                      		<h5>Headers</h5>
		                      		{{#each headers}}
			                      		<p><strong>{{{@key}}}</strong> {{{description}}}</p>
		                      		{{/each}}
		                      	{{/if}}
		                        <h5>Body <small>Format <span class="label label-default">application/json</span></small></h5>
		                    		{{#if success}}
		                    			{{#if schema}}
		                    			<p>Follow the standard format of the entity</p>
		                    			{{/if}}
                            {{/if}}
		                    			<div class="row">
		                    				<div class="col-xs-12">
		                    				{{#with schema}}
		                    					<div class="def">
			                    					<p>{{{name}}} {</p>
			                    					
                                      {{#each properties}}
                                      <p class="def-key"><code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> 
                                      {{#if properties}}:     { <br>
                                        {{#each properties}}
                                          &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em>
                                            {{#if properties}}:     { <br>
                                              {{#each properties}}
                                                &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                              {{/each}}<br>&nbsp; &nbsp; } <br>
                                            {{else}}
                                              {{#with items}}
                                                {{#if allOf}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                  {{#each allOf}} 
                                                    {{#each properties}}
                                                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}})</em> 
                                                      {{#if properties}}:     { <br>
                                                        {{#each properties}}
                                                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}})</em>
                                                          {{#if properties}}:     { <br>
                                                            {{#each properties}}
                                                              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}})</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                            {{/each}}<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
                                                          {{else}}
                                                          &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                          {{/if}}
                                                        {{/each}}<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                      {{else}}
                                                      &bull; {{{description}}} <br>
                                                      {{/if}}
                                                    {{/each}}
                                                  {{/each}}
                                                  &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                  &nbsp; &nbsp; ]
                                                {{/if}}
                                                {{#if properties}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                  {{#each properties}}
                                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> 
                                                    &bull; {{{description}}} <br>
                                                  {{/each}}
                                                  &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                  &nbsp; &nbsp; ] <br>
                                                {{else}}
                                                  &bull; {{{description}}}<br>
                                                {{/if}}
                                              {{else}}
                                              &bull; {{{description}}}</br>
                                              {{/with}}
                                            {{/if}}
                                            {{#unless @last}} <br> {{/unless}}
                                        {{/each}}&nbsp; }
                                      {{else}}
                                        &bull; {{{description}}}</p>
                                      {{/if}}
                                      {{/each}}
			                    					{{#each allOf}}
				                    					{{#each properties}}
				                    					<p class="def-key"><code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> 
  				                    					{{#if properties}}:     { <br>
  				                    						{{#each properties}}
  				                    							&nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}})</em>
  									                    			{{#if properties}}:     { <br>
  									                    				{{#each properties}}
  									                    					&nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}})</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
  									                    				{{/each}}<br>&nbsp; &nbsp; }
  									                    			{{else}}
                                                {{#with items}} : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                  {{#each allOf}} 
                                                    {{#each properties}}
                                                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> 
                                                      {{#if properties}}:     { <br>
                                                        {{#each properties}}
                                                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em>
                                                          {{#if properties}}:     { <br>
                                                            {{#each properties}}
                                                              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                            {{/each}}<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
                                                          {{else}}
                                                            {{#with items}}
                                                              {{#if properties}}
                                                                : [ <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; { <br>
                                                                {{#each properties}}
                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <code>{{{@key}}}</code> <em>({{{type}}}{{#if items}}[{{{items.type}}}]{{/if}})</em> &bull; {{{description}}}{{#unless @last}} <br> {{/unless}}
                                                                {{/each}}<br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br>
                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ]
                                                              {{else}}
                                                                &bull; {{{description}}}
                                                              {{/if}}
                                                            {{else}}
                                                              &bull; {{{description}}}
                                                            {{/with}}
                                                          {{/if}}
                                                        {{/each}}<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                      {{else}}
                                                      &bull; {{{description}}} <br>
                                                      {{/if}}
                                                    {{/each}}
                                                  {{/each}}
                                                {{else}}
  									                    				&bull; {{{description}}}</p>
                                                {{/with}}
                                                {{#with items}}
                                                &nbsp; &nbsp; &nbsp; &nbsp; } <br>
                                                &nbsp; &nbsp; ]
                                                {{/with}}
  									                    			{{/if}}
  									                    			{{#unless @last}} <br> {{/unless}}
  				                    						{{/each}}<br>  }
  				                    					{{else}}
  				                    				  	&bull; {{{description}}}</p>
  				                    					{{/if}}
				                    					{{/each}}
			                    					{{/each}}
			                    					<p>}</p>
		                    					</div>
		                    				{{else}}
		                    					<p>Ø</p>
		                    				{{/with}}
																</div>
																{{#if hljsExample}}
		                    				<div class="col-xs-12">
		                    					<p>Example</p>
		                    					<div>{{{hljsExample}}}</div>
																</div>
																{{/if}}
		                    			</div>
		                      </div>
		                      {{/each}}
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		          <div class="panel-footer">
		          	<div class="row">
		          		<div class="col-xs-12">
		                <h4>CURL EXAMPLE</h4>
		                <div class="row">
		                  <div class="col-md-6">
		                    <h5>Request</h5>
                        {{{curlRequestExample}}}
											</div>
		                  <div class="col-md-6">
		                    <h5>Response</h5>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
	        {{/each}}   
        {{/each}}
      </div>
    </div>
  </div>
</body>
</html>